@import '../../assets/scss/colors';

.Collapsable {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-purple;
  background-color: $lighter-purple-2;
  border-radius: 14px;

  &__Active {
    background-color: transparent;
  }

  &__Header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__HeaderLeftSection {
    display: flex;
    align-items: center;
  }

  &__HeaderTitle {
    color: white;
    font-size: 32px;
    font-weight: bold;
  }

  &__HeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-purple;
    padding: 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__ToggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-purple;
    padding: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  &__ToggleButtonActive {
    transform: rotate(0deg);
  }

  &__Content {
    height: 0;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  &__ContentActive {
    opacity: 1;
    height: auto;
  }
}
