@import '../../assets/scss/colors';

.NoSearchResultsFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;

  &__Description {
    text-align: center;
    color: $white;
    font-size: 16px;
  }
}
