.AllSuperHeroes {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;

  &__Title {
    font-weight: bold;
    color: white;
    font-size: 28px;
    margin-left: 8px;
  }

  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 600px) {
  .AllSuperHeroes {
    &__Title {
      margin-bottom: 20px;
      margin-left: 0px;
    }

    &__Header {
      flex-direction: column;
      align-items: initial;
      padding: 16px;
    }
  }
}
