@import '../../assets/scss/colors';

.Search {
  position: relative;

  &__SearchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
  }

  &__ClearButton {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__ClearButtonVisible {
    display: flex;
  }

  &__SearchIcon,
  &__ClearButton {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__Input {
    background-color: $lighter-purple-3;
    padding: 8px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 15px;

    &::placeholder {
      color: white;
    }
  }
}
