@import '../../assets/scss/colors';

.SuperHeroCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  overflow: hidden;
  width: 285px;
  height: 174px;

  &__Content {
    height: 100%;
    padding: 16px 16px 18px 16px;
    display: flex;
    backdrop-filter: brightness(0.35) blur(27px);
  }

  &__Picture {
    width: 105px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__PictureWrapper {
    position: relative;
    margin-right: 16px;
  }

  &__Information {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $light-gray;
  }

  &__FavoriteButton {
    width: 48px;
    height: 48px;
    background-color: $light-purple;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -4px;
    right: -7px;
    cursor: pointer;

    svg {
      width: 14px;
    }
  }

  &__Name {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 28px;
  }

  &__RealName {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
  }

  &__PowerImage {
    margin-right: 6px;
  }

  &__PowerInformation {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  &__PowerPoints {
    color: white;
    font-weight: bold;
  }
}
