@import '../../assets/scss/colors';

.SuperHeroCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 14px;
  overflow: hidden;
  margin: 10px;
  width: 320px;
  height: 190px;

  &__Content {
    height: 100%;
    padding: 20px;
    display: flex;
    backdrop-filter: brightness(0.35) blur(20px);
  }

  &__Picture {
    width: 120px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &__PictureWrapper {
    position: relative;
    margin-right: 16px;
  }

  &__Information {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $light-gray;
  }

  &__FavoriteButton {
    width: 60px;
    height: 60px;
    background-color: $light-purple;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -6px;
    right: -6px;
    cursor: pointer;
  }

  &__Name {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__RealName {
    margin-bottom: 6px;
  }

  &__PowerImage {
    margin-right: 6px;
  }

  &__PowerInformation {
    display: flex;
    align-items: center;
  }

  &__PowerPoints {
    color: white;
    font-weight: bold;
  }
}
