.FavoriteSuperHeroesBoard {
  display: flex;
  justify-content: center;
  width: 100%;

  &__Content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 285px));
    justify-content: center;
    gap: 16px;
    max-width: 1300px;
  }
}
